{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">Список пользователей</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            {% for user in users %}
            <div class="card mb-3 shadow-sm">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <span class="fw-bold">{{ user.user.first_name }}</span>
                    <a href="{% url 'users:user' user.user.id %}" class="btn btn-primary btn-sm">Подробнее</a>
                </div>
            </div>
            {% empty %}
            <p class="text-center text-muted">Пользователей нет</p>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}